//**
// Typography vars
//**

@default_font: 'Open Sans', Arial, Helvetica, sans-serif;

@header_font: 'Oxygen', Arial, Helvetica, sans-serif;


//**
// Layout vars
//**

// Golden ratio, which makes just about anything look lovely
@golden: 1.618;

@readable_width: 36em;

@add_padding: 5 * @golden;

@posttitle_overflow: 9;


//**
// Color vars
//**

@color_01: #F2BF89; //soft orange
@color_02: #EF9335; //hard orange
@color_03: #4FBCCB; //soft aqua
@color_04: #25748C; //hard aqua
@color_05: #4F5154; //mid charcoal