<footer class="footer_uber">
<a class="subscribe_uber icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_uber">Subscribe!</span></a>
<div class="footertext_uber">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
<div class="footertext_uber">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>